.topBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
}
.logoVelo{
    background-color: grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 5vh;

}
.logoVelo>i{
    font-size: 180%;
}

.adresse{
    display: flex;
}
.chevron{
    color: teal;
    
}
.logoUser{
    font-size: 2rem;
    color: teal;
}